/* Resets */
@import '_reset/html5doctor-reset';
@import '_reset/meyer-reset';



/* Base Components */
@import 'base/_animate';
@import 'base/_variables';
@import 'base/_mixins';
@import 'base/_grid';
@import 'base/_styleguide';
@import 'base/_font';

@import 'base/_generic';



/* Layout */
@import 'layout/layout';

/* Fonts */
@import  'fonts/_sizes';
@import  'fonts/_fonts-styles';
@import  'fonts/_lists';


/* Common Elements */
@import 'com-elems/icon-items';
@import 'com-elems/button';
@import 'com-elems/flag';
@import 'com-elems/lightbox';
@import 'com-elems/fade-in';
@import 'com-elems/card';
@import 'com-elems/column-tabs';

/* Header Styles */
@import 'header/header-style';
@import 'header/mobile-header';

/* Navigation Styles */
@import 'navigation/navigation-styles';
@import 'navigation/header-right-nav';
@import 'navigation/header-sidebar-nav';
@import 'navigation/mobile-nav';

/* Content Styles */
@import 'content/content-layout';
@import 'content/content-styles';

/* Forms */
@import 'forms/forms-styles';

/* Sidebar Styles */
@import 'sidebar/sidebar-styles';

/* Footer Styles */
@import 'footer/footer-styles';

@import 'signtrack_styles';


body.responsive-debug::before {
	position: fixed;
	width: 40px;
	padding: 5px;
	content: 'A';
	top: 45%;
	left: 0;
	color: $white;
	background: $black;
	z-index: 99999999;
	text-align: center;
	font-size: 12px;

	@include page_width(10) {content: '10';}
	@include page_width(9) {content: '9';}
	@include page_width(8) {content: '8';}
	@include page_width(7) {content: '7';}

	@include page_width(6) {content: '6';}
	@include page_width(5) {content: '5';}
	@include page_width(4) {content: '4';}

	@include page_width(3) {content: '3';}
	@include page_width(2) {content: '2';}
	@include page_width(1) {content: '1';}
}

body.responsive-debug::after {
	position: fixed;
	width: 40px;
	padding: 5px;
	content: 'A';
	top: 55%;
	left: 0;
	color: $white;
	background: $black;
	z-index: 99999999;
	text-align: center;
	font-size: 12px;

	@include mobile { content: 'Mobile'; }
	@include tablet { content: 'Tablet'; }
	@include monitor { content: 'Monitor'; }

}

.debug-border {
	width: 100%;
	border: solid $secondary 2px;
}
